
@import url('https://fonts.googleapis.com/css2?family=Work+Sans: wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--White: hsl(0, 0%, 100%);
--Light--pink: hsl(275, 100%, 97%);
--Grayis--purple: hsl(292, 16%, 49%);
--Dark--purple: hsl(292, 42%, 14%);
}

body{
    min-height: 100vh;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: url('./assets/images/background-pattern-desktop.svg') no-repeat;
    background-color: var(--Light--pink);
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
}
.card{
    display: block;
    padding: 40px 15px;
    margin: auto;
    color: hsl(292, 42%, 14%);
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0px 30px 100px -50px black;
}
.card-heading{
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding-left: 10px;
}
.faq-content{
    margin-bottom: 10px;

}
.faq{
    border-bottom: 1px solid #ccc;
}
.questions{
    font-size: 20px;
    font-weight: 700;
    padding: 18px 0;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.questions h3{
    font-weight: 600;
    width: 95%;
}
.faq-icon{
    border: 0px;
    width: 30px;
    height: 30px;
    background: url(./assets/images/icon-plus.svg);
    background-size: cover;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    right: 10px;
    top: 25px;
}

.answer{
    display: block;
}
.faq-icon.answer{
    background: url(./assets/images/icon-minus.svg);
    text-align: center;
}
.attribution{
    font-size: 15px;
    text-align: center;
}
.attribution a{
    color: var(--Dark--purple);
}

@media (max-width: 760px){
    body{
        background: url('./assets/images/background-pattern-mobile.svg');
        background-size: 100%;
        min-width: 375px;
    }
    .card{
        min-width: 400px;
        margin: auto;
    }
}